@page
@model ManagementSystem.Web.Pages.HumanResource.UserProfile.IndexModel

@{
    ViewData["Title"] = "Index";
}

@section Styles
    {
    <style>
        body {
            padding-top: 4em;
        }
    </style>
}

<div class="container">
    <div class="d-flex justify-content-between">
        <h2></h2>
        <div class="align-self-center"><a asp-page="./Create" class="btn btn-primary">New Employee</a></div>
    </div>

    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header card-header-primary">
                <h4 class="card-title mt-0">List Employees</h4>
                <p class="card-category">This table is all employees of company</p>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                            <tr>
                                <th>
                                    Index
                                </th>
                                <th>
                                    FullName
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    PhoneNumber
                                </th>
                                <th>
                                    JobPosition
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int index = 1;

                                foreach (var item in Model.ApplicationUser)
                                {
                                    <tr onclick="location.href = '@(Url.Content("UserProfile/Details?id=" + item.Id))'"> @*FUCKOFF*@
                                        <td>
                                            @index
                                        </td>
                                        <td>
                                            @(item.FirstName + " " + item.LastName)
                                        </td>
                                        <td>
                                            @item.Email
                                        </td>
                                        <td>
                                            @item.PhoneNumber
                                        </td>
                                        <td>
                                            @item.JobPosition.Name
                                        </td>
                                        <td class="td-actions">
                                            <a asp-page="./Edit" asp-route-id="@item.Id" title="Edit this transaction" class="btn btn-link btn-sm">
                                                <i class="material-icons">edit</i>
                                            </a>
                                        </td>
                                    </tr>


                                    index++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
