@page
@model ManagementSystem.Web.Pages.Finance.OperationCost.IndexModel


<div class="container">
    <div class="d-flex justify-content-between">
        <h2>Operational Costs</h2>
        <div class="align-self-center"><a asp-page="./Create" class="btn btn-primary">New Transaction</a></div>
    </div>

    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header card-header-primary">
                <h4 class="card-title mt-0">Operation Cost Transactions</h4>
                <p class="card-category">This table is all history operation cost transactions of company</p>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                            <tr>
                                <th>
                                    Index
                                </th>
                                <th>
                                    Time
                                </th>
                                <th>
                                    Reason
                                </th>
                                <th>
                                    Amount
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int index = 1;

                                foreach (var item in Model.OperationCosts)
                                {
                                    <tr>
                                        <td>
                                            @index
                                        </td>
                                        <td>
                                            @item.Time
                                        </td>
                                        <td>
                                            @item.Reason
                                        </td>
                                        <td>
                                            @item.Amount
                                        </td>
                                        <td class="td-actions">
                                            <a asp-page="./Edit" asp-route-id="@item.Id" title="Edit this transaction" class="btn btn-link btn-sm">
                                                <i class="material-icons purple-ic">edit</i>
                                            </a>
                                        </td>
                                    </tr>


                                    index++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="d-flex justify-content-center">
            <h3>Analytics</h3>
        </div>

        <div class="my-3">
            <h3>Used Budget</h3>
            <div id="usedBudget" class="ct-chart ct-golden-section"></div>
            <div class="text-center"><p>@DateTime.UtcNow.Year</p></div>
        </div>
    </div>
</div>

@section Scripts {
<script>
        var data = {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            series: [
                [
                    @Model.UsedBudgetChartModelList[0].Amount,
                    @Model.UsedBudgetChartModelList[1].Amount,
                    @Model.UsedBudgetChartModelList[2].Amount,
                    @Model.UsedBudgetChartModelList[3].Amount,
                    @Model.UsedBudgetChartModelList[4].Amount,
                    @Model.UsedBudgetChartModelList[5].Amount,
                    @Model.UsedBudgetChartModelList[6].Amount,
                    @Model.UsedBudgetChartModelList[7].Amount,
                    @Model.UsedBudgetChartModelList[8].Amount,
                    @Model.UsedBudgetChartModelList[9].Amount,
                    @Model.UsedBudgetChartModelList[10].Amount,
                    @Model.UsedBudgetChartModelList[11].Amount
                ],
            ]
        };

        var options = {
            seriesBarDistance: 10,
            chartPadding: 20,
            //axisX: {
            //    offset: 10
            //},
            axisY: {
                labelInterpolationFnc: function (value) {
                    return (value / 1000) + 'k';
                }
            }
        };

        var responsiveOptions = [
            ['screen and (max-width: 640px)', {
                seriesBarDistance: 5,
                axisX: {
                    labelInterpolationFnc: function (value) {
                        return value[0];
                    }
                }
            }]
        ];

        new Chartist.Bar('#usedBudget', data, options, responsiveOptions);
</script>
}