@page
@model ManagementSystem.Web.Pages.Product.Analytics.IndexModel

@section Styles{
    <style>
        .ct-chart .ct-series-a .ct-bar {
            stroke: chocolate;
        }
    </style>
}

<div class="container">
    <div class="d-flex justify-content-between">
        <h2>Analytics</h2>
    </div>

    <div class="my-3">
        <h3>New Projects By Month</h3>
        <div id="byMonthChart" class="ct-chart ct-perfect-fourth mt-5"></div>
        <div class="text-center"><p>@DateTime.UtcNow.Year</p></div>
    </div>

    @*<div>
        <h3>New Projects By Month</h3>
        <div id="newByMonthChart" class="ct-chart ct-perfect-fourth"></div>
    </div>*@


    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <i class="material-icons m-2" style="font-size:30px;">bar_chart</i>
                <div class="d-flex flex-column">
                    <a asp-page="" class="h4">Projects By Month</a>
                    <p>Track the total amount of projects your company is working with.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <i class="material-icons m-2" style="font-size:30px;">bar_chart</i>
                <div class="d-flex flex-column">
                    <a asp-page="" class="h4">New Projects By Month</a>
                    <p>Track the velocity of your company.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <i class="material-icons m-2" style="font-size:30px;">bar_chart</i>
                <div class="d-flex flex-column">
                    <a asp-page="" class="h4">Team Throughput</a>
                    <p>Track how much work your teams are doing.</p>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var data = {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            series: [
                [
                    @Model.ProjectByMonthChartModelList[0].NumberOfProducts,
                    @Model.ProjectByMonthChartModelList[1].NumberOfProducts,
                    @Model.ProjectByMonthChartModelList[2].NumberOfProducts,
                    @Model.ProjectByMonthChartModelList[3].NumberOfProducts,
                    @Model.ProjectByMonthChartModelList[4].NumberOfProducts,
                    @Model.ProjectByMonthChartModelList[5].NumberOfProducts,
                    @Model.ProjectByMonthChartModelList[6].NumberOfProducts,
                    @Model.ProjectByMonthChartModelList[7].NumberOfProducts,
                    @Model.ProjectByMonthChartModelList[8].NumberOfProducts,
                    @Model.ProjectByMonthChartModelList[9].NumberOfProducts,
                    @Model.ProjectByMonthChartModelList[10].NumberOfProducts,
                    @Model.ProjectByMonthChartModelList[11].NumberOfProducts
                ],
            ]
        };

        var options = {
            seriesBarDistance: 15,
            chartPadding: 20,
        };

        var responsiveOptions = [
            ['screen and (min-width: 641px) and (max-width: 1024px)', {
                seriesBarDistance: 10,
                axisX: {
                    labelInterpolationFnc: function (value) {
                        return value;
                    }
                }
            }],
            ['screen and (max-width: 640px)', {
                seriesBarDistance: 5,
                axisX: {
                    labelInterpolationFnc: function (value) {
                        return value[0];
                    }
                }
            }]
        ];

        new Chartist.Bar('#byMonthChart', data, options, responsiveOptions);
    </script>

    @*<script>
        var data = {
            // A labels array that can contain any sort of values
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Oct', 'Nov', 'Dec'],
            // Our series array that contains series objects or in this case series data arrays
            series: [
                [2, 2, 4, 2, 3, 5, 1, 1, 0, 2, 0, 0]
            ]
        };

        // Create a new line chart object where as first parameter we pass in a selector
        // that is resolving to our chart container element. The Second parameter
        // is the actual data object.
        new Chartist.Line('#newByMonthChart', data, {
            chartPadding: 20
        });
    </script>*@
}